# File: requirements.txt
# Django & Web Server
django==4.2.16
daphne
psycopg2-binary
whitenoise[brotli]
django-cors-headers
bw2io[multifunctional]

# Django REST Framework & API Docs
djangorestframework==3.15.2
drf-spectacular==0.28.0

# Admin Theme
django-unfold @ git+https://github.com/unfoldadmin/django-unfold.git

# Utilities
django-solo
python-dotenv
requests
django-apscheduler
